body {

    background-color: darkgreen;
}

table {
    border-collapse: collapse;
}

table {
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}


td {
    border-bottom: 2px solid darkgreen;
    border-right: 1px dotted lightgray;
}

td:nth-child(1) {
    width: 100px;
}

td:nth-child(2) {
    width: 200px;
 text-align: center;
}

td:nth-child(3) {
    width: 200px;
}

td:nth-child(4) {
    width: 200px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: white;
}

td:nth-child(odd) {
    text-align: center;

}

td:nth-child(4) {
    text-align: center;
}

th {
    height: 50px;
    background-color: darkgreen;
    position: sticky;
    top: 0;
    color: white;

}

/* Assignment */
.a {
    font-size: 15px;
    font-weight: bold;
    background-color: darkorange;
    color: black;
}

/* CFI */
.c {
    font-size: 15px;
    font-weight: bold;
    background-color: gold;
    color: black;
    text-shadow: -1px -1px gold;
}

/* Project */
.p {
    font-size: 15px;
    font-weight: bold;
    background-color: deepskyblue;
    color: black;
}

/* Birbucks */
.b {
    font-size: 15px;
    font-weight: bold;
    background-color: rebeccapurple;
    color: white;
}

/* GMM */
.g {
    font-size: 15px;
    font-weight: bold;
    background-color: greenyellow;
    color: black;
}

/* Lesson */
.l {
    font-size: 15px;
    font-weight: bold;
    background-color: red;
    color: white;
}

/* TEST */
.t {
    font-size: 15px;
    background-color: hotpink;
    color: white;
}


.shortcut {
    cursor: pointer;
    background-color: orange;
}

.current {
    background-color: red;
}

.future {
    background-color: gray;
    color: gray;
}

.announcement {
    background-color: white;
   text-align: left;

    padding: 20px;
}
.title {
    font-size: 25px;
text-align: center;
    color: Green;
    text-shadow: -1px -1px black;

}
.linebreak {

    border: 3px solid green;
    border-radius: 0px;
}