body {

    background-color: darkgreen;
}



table {
     border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.superdiv{
    border: 5px solid darkgreen;
    border-radius: 25px;
    overflow: hidden;
    padding: 0px;
}

.maindiv{
   
    height:250px;
    overflow: scroll;
/*
     border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
*/
}
.tweetnewsgeometry{
    border: 5px solid midnightblue;
  
    height:200px;
    overflow: scroll;
    border-radius: 25px;
}

td {
    border-bottom: 2px solid darkgreen;
    border-right: 1px dotted lightgray;
}

td:nth-child(1) {
   
    width: 10%;
}

td:nth-child(2) {
    width: 30%;

    text-align: center;
}

td:nth-child(3) {

    width: 30%;
}

td:nth-child(4) {

    width: 30%;
}
.sun{
    
    background-color: darkseagreen !important;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: white;
}


td:nth-child(odd) {
    text-align: center;

}

td:nth-child(4) {
    text-align: center;
}

th {
    
    height: 50px;
    background-color: darkgreen;
    color: white;

}

.A1{
   
    width: 10%;
}
.A2{
    width: 30%;
}

th:nth-child(1){
  
}
th:nth-child(4){
/*    border-top-right-radius: 25px;*/
}
#newsheader{

    position: relative;
}

/* Assignment */
.a {
    font-size: 15px;
    font-weight: bold;
    background-color: darkorange;
    color: black;
}

/* CFI */
.c {
    font-size: 15px;
    font-weight: bold;
    background-color: gold;
    color: black;
    text-shadow: -1px -1px gold;
}

/* Project */
.p {
    font-size: 15px;
    font-weight: bold;
    background-color: midnightblue;
    color: white;
    /*    text-shadow: -1px -1px white;*/
}

/* Birbucks */
.b {
    font-size: 15px;
    font-weight: bold;
    background-color: rebeccapurple;
    color: white;
}

/* GMM */
.g {
    font-size: 15px;
    font-weight: bold;
    background-color: greenyellow;
    color: black;
}

/* Lesson */
.l {
    font-size: 15px;
    font-weight: bold;
    background-color: red;
    color: white;
}

/* TEST */
.t {
    font-size: 15px;
    background-color: hotpink;
    color: white;
}


.shortcut {
    cursor: pointer;
    background-color: orange;
}

.current {
    background-color: red;
}

.future {
    background-color: gray;
    color: gray;
}

.announcement {

    text-align: left;

    padding: 20px;
}

.title {
    font-size: 25px;
    text-align: center;
    color: Green;
    text-shadow: -1px -1px black;

}

.linebreak {

    border: 3px solid green;
    border-radius: 0px;
}

