table,
td {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td:nth-child(odd) {
    text-align: center;
    
}

td:nth-child(4) {
    text-align: center;
}
th {
    background-color: #4CAF50;
    color: black;
}
