body{
    
    background-color: white;
    
}

table{
	position: absolute;
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    
    
}

    
td{
    border-bottom:2px solid black;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: white;
}

td:nth-child(odd) {
    text-align: center;
    
}

td:nth-child(4) {
    text-align: center;
}
th {
    background-color: darkgreen;
    position: sticky;
    top: 0;
    color: white;
}

#links{
    
  display: none;
}
/* Assignment */
.a {
    font-size: 15px;
    font-weight: bold;
    background-color: darkorange;
    color: black;
}

/* CFI */
.c {
    font-size: 15px;
    font-weight: bold;
    background-color: gold;
    color: black;
    text-shadow: -1px -1px gold;
}

/* Project */
.p {
    font-size: 15px;
    font-weight: bold;
    background-color: midnightblue;
    color: white;
}

/* Birbucks */
.b {
    font-size: 15px;
    font-weight: bold;
    background-color: rebeccapurple;
    color: white;
    
}

/* GMM */
.g {
    font-size: 15px;
    font-weight: bold;
    background-color: greenyellow;
    color: black;
}

/* Lesson */
.l {
    font-size: 15px;
    font-weight: bold;
    background-color: red;
    color: white;
}

/* TEST */
.t {
    font-size: 15px;
    background-color: hotpink;
    color: white;
}


.shortcut {
    cursor: pointer;
    background-color: orange;
}

.current {
    background-color: red;
}

.future {
    background-color: gray;
    color: gray;
}

.announcement {
   
   text-align: left;

    padding: 10px;
}
.title {
    font-size: 25px;
text-align: center;
    color: Green;
    text-shadow: -1px -1px black;

}
.linebreak {

    border: 3px solid green;
    border-radius: 0px;
}
hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}