body{
    
    background-color: darkgreen;
}
table,
td {
    border-collapse: collapse;
}
table{
    height: 50px; 
    width: 500px; 
    margin-left: auto; 
    margin-right: auto;
    
    
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: white;
}

td:nth-child(odd) {
    text-align: center;
    
}

td:nth-child(4) {
    text-align: center;
}
th {
    background-color: darkgreen;
    color: white;
}

#links{
    
  display: none;
}