body{
    
    background-color: white;
    
}
table {
    border-collapse: collapse;
}
table{
    height: 50px; 
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    
    
}

    
    
td{
    border-bottom:2px solid black;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: white;
}

td:nth-child(odd) {
    text-align: center;
    
}

td:nth-child(4) {
    text-align: center;
}
th {
    background-color: darkgreen;
    position: sticky;
    top: 0;
    color: white;
}

#links{
    
  display: none;
}

.a{
    background-color: darkorange;
    color: white;
}

.c{
    background-color: gold;
    color: black;
}

.p{
    
    background-color: deepskyblue;
    color:bl;
}
.b{
    
    background-color: rebeccapurple;
    color: white;
}
.g{
    background-color: greenyellow;
    color:black;
}
.l{
    background-color: red;
    color: white;
}
.t{
    background-color: hotpink;
    color: white;
}

.shortcut{
    cursor:pointer; 
    background-color:orange; 
}
.current{
    background-color:red;
}
.future{
    background-color: gray;
    color:gray;
}